---
const { data } = Astro.props;
console.log(data);
---


<a href={`/program/${data.id}`}>
    <article>
        <img src={`/src/assets/${data.billede}`} alt="Vaerker">
        <span>{data.Vaerk}</span>
    </article>
</a>

<style>
    article {
        border: 1px solid black;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    img {
        width: 350px;
        height: auto;
        padding: 0;
    }

    span {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 14px;
    text-align: center;
    }
</style>

<!-- <a href={`/name/${data.artist}`}>
<article>
    <div class="imgfolder">
    <img src={data.profile_img} alt="placeholder">
    </div>
    <h2>{data.name}</h2>
    <p>Show more</p>
</article>
</a> -->