---
const { data } = Astro.props;
console.log(data);
---


<article class="collapsible">
    <h3 class="event_titel">{data.event_titel}</h3>
    <p class="dato">{data.dato}</p>
    <img class="collapse-icon" src="/src/assets/drop_down_pil.svg" alt="">
</article>

<article class="content" style="display: none;">
    <div><img class="item" src={`/CLF/src/assets/${data.event_billede}`} alt=""></div>
    <div>
        <p class="af"><span>Af: </span>{data.event_af}</p>
        <p class="hvor"><span>Hvor: </span>{data.event_hvor}</p>
        <p class="beskrivelse">{data.beskrivelse}</p>
    </div> 
</article>

<style>

img.collapse-icon {
    width: 10%; 
    display: block;
    height: auto;
    justify-self: end;
    transition: transform 0.3s ease;
}

.collapsible {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid black;
    cursor: pointer;
}

.content {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px;
    gap: 30px;
}
</style>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "grid") {
            content.style.display = "none";
            this.querySelector('.collapse-icon').style.transform = 'rotate(0deg)';
        } else {
            content.style.display = "grid"; 
            this.querySelector('.collapse-icon').style.transform = 'rotate(-90deg)';
            closeOtherCollapsibles(this);
        }
    });
}

function closeOtherCollapsibles(activeCollapsible) {
    var collapsibles = document.getElementsByClassName("collapsible");
    for (var j = 0; j < collapsibles.length; j++) {
        if (collapsibles[j] !== activeCollapsible) {
            collapsibles[j].classList.remove("active");
            var content = collapsibles[j].nextElementSibling;
        }
    }
}

</script>